* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    color: black;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
}

button, .submit-button {
    background: rgb(33, 54, 90);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px 0px;
    transition: 0.3s;
}


input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.409);
    font-size: 1rem;
    margin: 10px 0px;
    transition: 0.3s;
}

label {
    font-size: 1rem;
    margin: 10px 0px;
    transition: 0.3s;
}

button:hover {
    background: rgb(0, 0, 0);
}

.title>a {
    text-decoration: none;
    border-bottom: 1px solid black;
}


.todo__element {
    font-style: italic;
}

header {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: white;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.409);
    max-width: 700px;
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
    background-color: #f9fcf8;
    margin: 7rem 0rem;
}

.todo {
    border-bottom: 1px solid black;
    margin: 1rem;
}

table, thead, tbody, tr{
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td {
    height: 100%;
}

td>.wrapper_todos_task>a {
    font-size: 0.9rem;
    margin: 0 0.5rem;
    transition: 0.3s ease-in-out;

}

td>.wrapper_todos_task>a:hover {
    opacity: 0.8;
}

td>.wrapper_todos_task>a:first-child {
    color: blue;
    list-style: none;
    text-decoration: none;
}

td>.wrapper_todos_task>a:nth-child(2) {
    color: red;
    list-style: none;
    text-decoration: none;
}

td>.wrapper_todos_task>a:nth-child(3) {
    color: black;
    list-style: none;
    text-decoration: none;
}

td {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

td:nth-child(2) {
    text-align: right;
}

.btn {
    background: rgb(33, 54, 90);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
    tr {
        flex-direction: column;
    }

    td:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%
    }

    td>p {
        margin-top: 0px;
    }

    td:nth-child(2) {
        text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    }

    td>a:first-child {
        margin: 0px;
    }
    
    td>a:nth-child(2) {
        margin: 0px;
    }
    
    td>a:nth-child(3) {
        margin: 0px;
    }
}

form {
    flex-direction: column;
    width: 600px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.wrapper_status {
    display: flex;
    justify-content: flex-end;
}

.wrapper_status>p:first-child{
    margin-right: 0.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pagination>a {
    font-size: 1rem;
    color: blue;
    text-decoration: none;
    margin: 0 0.5rem;
}